body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    vertical-align: top;
    width: 100%;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
h4 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 20px;
    line-height: 24px;

    @media (min-width:768px) {
        font-size: 30px;
        line-height: 37px;
    }
}

h3 {
    font-size: 22px;
    line-height: 27px;
}

h4 {
    font-size: 16px;
    line-height: 20px;
}

.hero {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.h3-caps {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
address {
    font-style: normal
}
