#cons,
#cust,
#innov,
#busin {
   display: none;
}

#cons:checked ~ [for="cons"] {
   background-image: $gradient_red-text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#cust:checked ~ [for="cust"] {
   background-image: $gradient_red-text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#innov:checked ~ [for="innov"] {
   background-image: $gradient_red-text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#busin:checked ~ [for="busin"] {
   background-image: $gradient_red-text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.radio {
   // display: none;
}



.menu-check {

   @media (min-width:768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 60px 0;
   }

   &__list {
      display: flex;
      flex-direction: row;
      border-bottom: 4px solid rgba(255, 255, 255, 0.3);
      margin: 0 30px;

      @media (min-width:768px) {
         flex-direction: column;
         padding: 15px 60px 15px 0;
         border-right: 4px solid rgba(255, 255, 255, 0.3);
         border-bottom: transparent;
         text-align: end;
         margin: 0;
      }
   }

   &__click {
      color: $ladel-color;
      padding: 30px 30px 30px 0;
      cursor: pointer;
      white-space: nowrap;

      @media (min-width:768px) {
         padding: 0 0 30px 0;
      }

      &:hover {
         color: $accent;
      }
   }

   &__body {
      padding: 30px 30px;
      font-size: 19px;
      line-height: 30px;
   
      @media (min-width:768px) {
         max-width: 641px;
         padding: 0 0 0 60px;
         text-align: start;
         color: $basic_white;
      }
   }

   &__title {
      padding: 0 0 30px 0;
   }
}

