.main-grad {
   background: $gradient_supersoft;
   max-width: 100%;
}

.symbol {
   position: relative;
   color: $basic_white;

   @media (min-width:768px) {
      display: flex;
      justify-content: center;
   }

   &__text-pos {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
   }

   &__btn-pos {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%);
      // z-index: 3;
   }

   &__img {
      position: relative;
      top: 0;
      left: -90px;
      min-width: 524px;
      
      @media (min-width:768px) {
         left: 0;
      }
   }
}

.icon-Scroll:before {
   content: "\e901";
   color: $symbol__btn;
   background: #fff;
}

