.main-body {
   background: $gradient_supersoft;
   max-width: 100%;
}

.symbol {
   display: flex;
   justify-content: center;
   position: relative;
   color: $basic_white;

   &__text-pos {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
   }

   &__btn-pos {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 3;
   }
}

