.main-grad {
   background: $gradient_supersoft;
   max-width: 100%;
}

.symbol {
   position: relative;
   display: flex;
   justify-content: center;
   position: relative;
   color: $basic_white;

   &__text-pos {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
   }

   &__btn-pos {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 3;
   }

   &__img {
      width: 524px;
   }
}

.icon-Scroll:before {
   content: "\e901";
   color: $symbol__btn;
   background: #fff;
}

